
@import '../assets/common.scss';

.mickeychoi-sub {
    // width: 100%;
    // height: 100%; 
    // background-size: cover; 
    // background-position: center;
    // background-repeat: no-repeat; 
    // background-image: url(../../public/intro1.jpg);

    position: relative;
    margin-top: 120px;

    .title {
        display: flex;
        color: white;
        @include fontStyle(var(--40px),400,var(--spacingDefalt));
        padding: 5px;
        img{
            width: 40px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 15px;
            margin-right: 5px;
        }
    }

    section {
        margin-top: 40px;
        .frame{
            img{
                width: 100%;
            }
            p {
                color: white;
                @include fontStyle(var(--25px),400,var(--spacingDefalt));
            }
            ul {
                margin-top:10px;
                li{
                    color: white;
                    @include fontStyle(var(--25px),400,var(--spacingDefalt));    
                }
            }
        }
    }

}
  
